:root {
    --black: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --grey: #e5e5e5;
    --white: #FFFFFF;
    --dark-grey: #575757;
    --light-grey: #B1B1B1;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--black);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.header__navigation {
    display: none;
    width: 232px;
    height: 764px;
    background-color: #ffff;
    position: absolute;
  }
  
  .details__title {
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0 12px 30px;
  }
  
  .details-prop li {
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    
  }
  
  .details-prop ul a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    }

    .item__cross {
        position: absolute;
        top: 16px;
        right: 17px;
    }

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 40px 0 0;
}

.header__controls_left {
    width: 115px;
    height: 42px;
}

.header__controls_right {
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__contorls--link path:hover,
.header__contorls--link:hover {
    fill: var(--dark-pink);
}


.burger__link:hover .header__navigation {
    display: block;
}

.new-arrivals {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-arrivals__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.new-arrivals__link--title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: var(--dark-pink);
}

.new-arrivals__list {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
}

.new-arrivals__list li {
    display: inline-block; /* Выстраиваем по горизонтали */
    color: var(--dark-pink);
   }

.new-arrivals__list li::before {
    content: '/'; /* Разделитель */
    margin-left: 5px; /* Отступ слева */
    margin-right: 5px; /* Отступ справа */
    color: #7f7f7f; /* Цвет разделителя */
   }
.new-arrivals__list li:first-child::before {
    content: ''; /* Убираем разделитель для первого пункта */
   }

.products__navigation {
    display: none;
}

.products__navigation:hover {
    display: active;
}

.filter-wrapper {
    display: flex;
    justify-content: space-between;
}

.filter-wrapper__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.filter__list {
    display: flex;
    padding-right: 420px;
}

.filter__list--link:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    min-width: 79px;
    height: 103px;
    background: #FFFFFF;
    border: solid 1px #2222;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 1;
    display: none;
    position: absolute;
    top: 345px;
    left: 550px;
    font-size: 14px;
    line-height: 16px;
  }
  

.filter__list li::after {
    content: url(img/arrow.svg); /* Разделитель */
    margin-left: 10px; /* Отступ слева */
    margin-right: 10px;
    color: #6F6E6E; 
   }

.filter__list a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #6F6E6E;
}

.brand {
    display: flex;
    margin: 0 0 63px;
    background-color: var(--pink);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: var(--dark-pink) 12px solid;
    display: inline-block;
    padding-left: 16px;
}

.brand__title-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.aside-box {
    width: 12px;
    height: 92px;
    background-color: var(--dark-pink);
}

.brand__subtitle {
    display: block;

    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__title {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px;
}
.offer__paragraph {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink);
    font-weight: 700;
    text-align: center;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman.jpg);
}

.offers__item--man {
    background-image: url(../img/man_offers__item.jpg);
}
.offers__item--kids {
    background-image: url(../img/kid.jpg);
}

.offers__item--accesories {
    background-image: url(../img/accesoires.jpg);
    width: 100%;
    margin: 0;
    min-height: 180px;
}

.products {
    margin-top: 97px;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}

.products__paragraph {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
    text-align: center;
    padding-top: 6px;
}

.products__list--card {
    background-color: #f8f8f8;
    min-height: 581px;
    width: 360px;
    margin: 30px 0 0 0;
    position: relative;
    flex-wrap: wrap;
    transition: .5s;
}

.products__list--box {
    width: 360px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button_cart {
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    display: flex;
    align-items: center;
    border: 1px solid #FFFF;
    background: none;
    opacity: 0;
    transition: .5s;
}

.products__list--link {
    transition: .5s;
}

.products__list--link:hover .button_cart {
    opacity: 1;
}



.products__list--image {
    transition: 1s;
}

.products__list--link:hover .products__list--image {
    transform: scale(1.2);
}

.products__link:hover .products__list--image {
    transform: rotate(360deg);
}

.products__list--link:hover {
    filter: brightness(0.3);
    transform: scale(1.2);
}

.product__link:hover .products__list--image {
    transform: skew(35deg, -20deg);
}

.link__transition:hover .products__list--image {
    transform: translateX(-10px);
}


.products__list--information {
    padding: 0 0 0 16px;
}

.products__list--title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
}
.products__list--paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 13px;
}
.products__list--priсe {
    font-size: 16px;
    line-height: 19px;
    color:var(--dark-pink);
    padding-top: 18px;
}

.products__list--cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
}

.button {
    color: var(--dark-pink);
    background-color: #f8f8f8;
    padding: 15px 39px;
    position: relative;
    border: 1px solid #FF6A6A;
}

.button a {
    text-decoration: none;
}

.advantages {
    min-height: 341px;
    background-color: #222222;
    display: flex;
    align-items: center;
}
.advantages__list {
    display: flex;
}
.advantages__list--card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__list--title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FBFBFB;
    padding: 28px 0 16px;
}

.advantages__list--paragraph {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 448px;
    background-image: url(../img/footer-image.jpg);
    width: 100%;
    background-size: cover;
}

.footer__pagination {
    min-height: 79px;
    background-color: #222222;
}

.footer__information--list {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer__information--item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__information--paragraph {
    display: block;
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    padding: 30px 0;
}

.footer__information--heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}

.footer__information--text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 0 32px;
}

.button__email {
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.email__input {
    background-color: #E1E1E1;
    width: 322px;
    right: 0;
    border: 0;
    padding-left: 22px;
    color: #222224;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    line-height: 17px;
}

.button__email {
    background-color:var(--dark-pink);
    width: 100px;
    height: 49px;
    left: 0;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer__pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.contacts_list {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
}

.contacts_list--item {
    display: block;
    width: 32px;
    margin-right: 7px;
    height: 32px;
    background-color: var(--white);
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--dark-blue);
    transition: .5s;
}

.contacts_list--item:hover {
    background-color:var(--dark-pink);
    color: white;
}


.button__registration {
    text-transform: uppercase;
}

.item-list {
    display: flex;
    justify-content: center;
}

.pager {
    display: flex;
    border: 1px solid #EBEBEB;
    padding: 12px 40px;
    margin: 48px 0 96px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    color: #EF5B70;
}

.pager-item a,
.pager span {
    text-decoration: none;
    color: #5D5D5D;
    padding-left: 18px;
    opacity: 0.5;
}

.pager-current span {
    color: #EF5B70;
}

.pager-previous a,
.pager-next a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    padding-left: 18px;
}

.filter-wrapper__box--link {
    padding-left: 11px;
}

.filter-wrapper__box a:hover {
    color: #EF5B70;
}

.products__button {
    color: #EF5B70;
    text-align: center;
    text-decoration: none;
    margin: 49px 0 0;
    display: flex;
    align-items: center;
    transition: all .5s 2s;
}

.products__button:hover path,
.products__button:hover,
.products__button:focus {
    background-color: #EF5B70;
    color: var(--white);
    fill: var(--grey);
    cursor: pointer;
}


.link {
    margin: 48px auto;
    display: flex;
    justify-content: center;
}

.icons__share path:hover {
    fill: var(--white);
}

.product__page {
    height: 777px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.control i:hover {
    color:var(--dark-pink);
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 21px;
    color: black;
}

.desc {
    width: 1141px;
    height: 601px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    margin-top: -50px;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.desc__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color:var(--dark-pink);
    padding: 64px 0 12px;
}

.desc__title-2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding: 12px 0 0;
}

.desc__paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    text-align: center;
    padding: 49px 0 0;
    width: 50%;
}

.desc__prize {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding: 32px 0 65px;
}
.desc__list {
    padding: 65px 0 0;
}

.desc_hr {
    width: 641px;
    align: center;
    color: #EAEAEA, 100%;
    size: 1;
}

.desc__link {
    padding: 14px 56px 14px 0;
    transition: all .5s;
}

.desc__link:hover {
    padding: 14px 56px 14px 0;
    background-color: var(--dark-pink);
    color: var(--white);
}

.desc__link path:hover {
    fill: var(--white);
}

.catalog {
    padding-bottom: 128px;
}

.cart_card {
    width: 652px;
    height: 306px;
    background-color: var(--white);
    display: flex;
    margin: 0 0 40px;
    box-shadow: 0 0 3px 0;
    position: relative;
}

.cart__cross {
  position: absolute;  
  font-size: 18px;
  right: 22px;
  border: none;
    background: none;
    cursor: pointer;
}

.cart_card--information {
    padding: 22px 0 0 31px;
    display: flex;
    flex-direction: column;
}

.new-arrivals__cart {
    margin: 0 0 96px 0;
}

.cart_card--title {
    color: var(--black);
    font-size: 24px;
    line-height: 29px;
    width: 70%;
    margin: 0 0 42px;
}

.cart_card--text {
    font-size: 22px;
    line-height: 26px;
    color: var(--dark-grey);
    margin: 0 0 6px;
}

.cart_card--prize {
    color: var(--dark-pink);
}

.cart_card--input {
    width: 44px;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.cart__buttons {
    display: flex;
    justify-content: space-between;
    width: 652px;
    height: 50px;
}

.cart__button {
    padding: 16px 39px;
    background: var(--white);
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    transition: .5s;
}

.cart__button:hover {
    background-color: var(--dark-pink);
    color: var(--white);
}

.aside-content {
    display: flex;
    flex-direction: column;
}

.cart__registration {
    width: 360px;
    height: 272px;
}

.cart__content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 128px;
}

.registration__button {
    padding: 10px 14px;
}

.cart__registration fieldset  {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.cart__registration legend {
    margin: 0 0 20px;
}

.cart__input {
    width: 359px;
    height: 44px;
    border: 1px solid #A4A4A4;
}

.cart-totalprize {
    width: 360px;
    height: 214px;
    background: #F5F3F3;
}

.cart-totalprize {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 57px 0 0 0;
}

.cart-totalprize--text {
    font-size: 11px;
    line-height: 13px;
    margin: 39px 34px 12px 0;
}

.cart-totalprize--bigtext {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 12px 37px 21px 0;
}

.cart-totalprize--button {
    padding: 15px 43px;
    background-color: var(--dark-pink);
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: none;
    cursor: pointer;
    align-self: center;
    margin: 17px 0 0 0;
}

.filter__list li {
    position: relative;
}

.registration__contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.registration__form legend {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.registration__form .input {
   width: 360px;
   height: 45px;
   padding: 0 0 0 16px;
   margin: 20px 0 0 0;
}

.registration__form .radio {
    width: 17px;
    height: 17px;
    padding: 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
 }

 .registration__form label {
    padding: 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
 }

 .details {
     margin: 35px 0 0 0;

 }


 .registration__radio {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
}
 

 .registration__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--light-grey);
    margin: 15px 0 0 0;
 }

 .registration__input {
     padding: 16px 25px;
     margin: 39px 0 0 0;
 }

 .registration__list {
    width: 50%;
 }

 .registration__list h3, p, li {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 22px;
 }

 .registration__list ul li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    color:var(--black);
    margin: 0 23px 0 0;
 }

 
 @media screen and (max-width: 800px) 
 {
 
    .container {
        width: 100vw;
        margin: 0 auto;
    }

    .brand__title-wrapper {
        padding: 0 0 0 39px;
    }

    .brand__title {
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
        text-transform: uppercase;
        border-left: var(--dark-pink) 12px solid;
        display: inline-block;
        padding-left: 16px;
    }
    .brand__subtitle {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    .offers__item {
        width: 232px;
        min-height: 168px;
        margin: 0 0 20px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .offers__item--accesories {
        width: 100%;
        margin: 0;
        min-height: 116px;
    }
    .products {
        margin-top: 155px;
    }
    .products__list--card {
        margin: 16px 0 0 0;
    }
    .products__button {
        margin: 32px 0 0;
    }
    .advantages__list {
        flex-direction: column;
    }
    .advantages {
        min-height: 610px;
    }
    .advantages__list--paragraph {
        width: 40%;
    }

    .footer__information {
        min-height: 693px;
    }

    .footer__information--list {
        flex-direction: column;
}

@media screen and (max-width: 375px) 
 {
 
    .container {
        width: 330px;
        margin: 0 auto;
    }

    .brand img {
        display: none;
    }
    .header__contorls--link-media375 {
        display: none;
    }
    .burger__link {
        margin: 0 auto;
    }

    

    .brand {
        min-height: 362px;
    }
    .brand__title {
        font-size: 38px;
        font-weight: 900;
        line-height: 46px;
    }
    .brand__subtitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    .brand__title-wrapper {
        justify-content: center;
    }
    .offers__item {
        width: 343px;
        min-height: 247px;
        margin: 0 0 32px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .offers__item--accesories {
        width: 100%;
        margin: 0;
        min-height: 111px;
    }

    .products {
        margin-top: 65px;
    }
    .registration__list h3, p, li {
        padding: 48px 0 22px;
    }
    .email__input {
        width: 200px;
    }
    .footer__pagination {
        flex-direction: column;
        justify-content: space-evenly;
    }
}